<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container m-0">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <!-- <a target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

	<!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
	{{ if ($.Scratch.Get "photoswipeloaded") }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
	<script src="/js/load-photoswipe.js"></script>
	{{ end }}
