{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
<!-- Begin standalone
================================================== -->
<div class="container">
	<div class="row">
        <div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="mainheading">
				<h1 class="posttitle">{{ .Title }}</h1> 
            </div>
			<div class="article-post">
				{{ .Content | safeHTML }}
			</div>
		</div>
        <div class="col-md-1"></div>
	</div>
</div>
<!-- End standalone
================================================== -->
</div>
{{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}