{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>
        
        <section class="text-center">
            {{ with .Site.Params.index.subtitle }}
            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}
            {{ with .Site.Params.index.mdtext }}
            <h6 class="index-text">{{ . | markdownify }}</h6>
            {{ end }}
        </section>

        <!-- <aside id="basicSidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white">
            <p>The DPBTSE (The Dead Philosophers <br>
                    Brainstorm To Solve Everything) is part of the <br>
                    research group Interaction Design (IXD) <br>
                    of Fontys ICT. <br></p>
        
            <p>The DPBTSE is a combination of<br>
            a thinktank and a creative lab for the research<br>
            group interested in working with the<br>
            combination of applied:<br>
            Sciences<br>
            Arts (and design)<br>
            Creativity and Philosophy.<br>
            To create innovative interactive concepts, <br>
            products, services and experiments therefore.<br></p>
            
            <p>21st century education (broadly)for all, <br>
            journalism & publishing, democracy and <br>
            politics, health care, arts and cultural exchange, <br>
            museums, science communications, <br>
            built environment.. and possible crossovers.<br></p>
            </aside> -->

                <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>All Posts | <a href="/projects">Projects</a> | <a href="/briefings">Briefings</a> | <a href="/docs">Docs</a> </span></h2>
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (where .Site.AllPages "Type" "post") 100 }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}

    </div>
    {{- partial "_shared/social.html" . -}}
    {{ if isset .Site.Params.index "alertbar" }}
    	{{ if .Site.Params.index.alertbar }}
            {{- partial "_shared/alertbar.html" . -}}
        {{ end }}
    {{ end }}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
