body {
    background-image: url(/img/backdrop_schop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}

.section-title a {
    color: #f9ec31;
}

.error{
    text-align: center !important;
}

.bg-docs {
    background-color: #009FB6;
}

.bg-projects {
    background-color: #f9ec31;
}

.bg-briefings {
    background-color: #f1686f;
}

.article-post {
    padding: 1rem;
}

@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}

.card-status {
    background: repeating-linear-gradient(125deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.2) 10px, transparent 20px);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    font-variant-caps: petite-caps;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #ddd;
    padding-top: 3em;
}

.post-status {
    margin-top: 1em;
}